
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    overflow:hidden;
    border-radius: 40px;
    color:Black;
    background-color:rgb(173, 80, 96)
    padding:70px;
}
img{
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 250px;
  width: 150px;
  border: 1px white;
  
}
h1{
    font-family:Verdana, Tahoma, sans-serif;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35pt;

  


} 